ExceptionFaults/SerializationClient/Service References/EvalServiceReference/EvalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEvalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4321/serializationDemo?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4321/serializationDemo?xsd=xsd2" namespace="http://learningwcf.com/serialization/evals" />
      <xsd:import schemaLocation="http://localhost:4321/serializationDemo?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4321/serializationDemo?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EvalServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvalService_SubmitEvals_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEvals" />
  </wsdl:message>
  <wsdl:message name="IEvalService_SubmitEvals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitEvalsResponse" />
  </wsdl:message>
  <wsdl:message name="IEvalService_SubmitEvals_BadEvalSubmissionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://learningwcf.com/serialization/evals" name="detail" element="q1:BadEvalSubmission" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEvals" />
  </wsdl:message>
  <wsdl:message name="IEvalService_GetEvals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEvalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvalService">
    <wsdl:operation name="SubmitEvals">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/SubmitEvals" message="tns:IEvalService_SubmitEvals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/SubmitEvalsResponse" message="tns:IEvalService_SubmitEvals_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEvalService/SubmitEvalsBadEvalSubmissionFault" name="BadEvalSubmissionFault" message="tns:IEvalService_SubmitEvals_BadEvalSubmissionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEvals">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvalService/GetEvals" message="tns:IEvalService_GetEvals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvalService/GetEvalsResponse" message="tns:IEvalService_GetEvals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEvalService" type="tns:IEvalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitEvals">
      <soap:operation soapAction="http://tempuri.org/IEvalService/SubmitEvals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BadEvalSubmissionFault">
        <soap:fault use="literal" name="BadEvalSubmissionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEvals">
      <soap:operation soapAction="http://tempuri.org/IEvalService/GetEvals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IEvalService" type="tns:IEvalService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEvalService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubmitEvals">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/SubmitEvals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BadEvalSubmissionFault">
        <soap12:fault use="literal" name="BadEvalSubmissionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEvals">
      <soap12:operation soapAction="http://tempuri.org/IEvalService/GetEvals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvalService">
    <wsdl:port name="BasicHttpBinding_IEvalService" binding="tns:BasicHttpBinding_IEvalService">
      <soap:address location="http://localhost:4321/serializationDemo" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IEvalService" binding="tns:NetTcpBinding_IEvalService">
      <soap12:address location="net.tcp://localhost:4322/serializationDemo" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4322/serializationDemo</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>ACSIND\30197821</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>