ServiceContract/MathServiceClient/Service References/MathServiceExReference/MathServiceEx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://learningwcf.com/MathService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://learningwcf.com/MathService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://learningwcf.com/MathService/Imports">
      <xsd:import schemaLocation="http://localhost:4321/MathServiceEx?xsd=xsd2" namespace="http://learningwcf.com/MathService" />
      <xsd:import schemaLocation="http://localhost:4321/MathServiceEx?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4321/MathServiceEx?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/MathServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MathRequest">
    <wsdl:part name="mathInputs" element="tns:mathInputs" />
  </wsdl:message>
  <wsdl:message name="MathRequest_Headers">
    <wsdl:part name="UserId" element="tns:UserId" />
  </wsdl:message>
  <wsdl:message name="MathResponse">
    <wsdl:part name="result" element="tns:result" />
  </wsdl:message>
  <wsdl:portType name="SimpleMathEx">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://learningwcf.com/MathService/SimpleMathEx/add" name="MathRequest" message="tns:MathRequest" />
      <wsdl:output wsaw:Action="http://learningwcf.com/MathService/SimpleMathEx/addResponse" name="MathResponse" message="tns:MathResponse" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input wsaw:Action="http://learningwcf.com/MathService/SimpleMathEx/sub" name="MathRequest" message="tns:MathRequest" />
      <wsdl:output wsaw:Action="http://learningwcf.com/MathService/SimpleMathEx/subResponse" name="MathResponse" message="tns:MathResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>