Security/SecurityClient/Service References/EvalLibServiceReference/securityDemo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/securityDemo?xsd=xsd2" namespace="http://learningwcf.com/serialization/evals" />
  <xs:element name="SubmitEvals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://learningwcf.com/serialization/evals" minOccurs="0" name="eval" nillable="true" type="q1:Evaluation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitEvalsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEvalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://learningwcf.com/serialization/evals" minOccurs="0" name="GetEvalsResult" nillable="true" type="q2:ArrayOfEvaluation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>