ServiceContract/MathServiceClient/Service References/MathServiceReference/MathService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://learningwcf.com/MathService" elementFormDefault="qualified" targetNamespace="http://learningwcf.com/MathService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4321/MathService?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="numbers" nillable="true" type="q1:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="subResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mulResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="div">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x" type="xs:double" />
        <xs:element minOccurs="0" name="y" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="divResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>